* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font), sans-serif;
  color: var(--color-neutral-dark-gray);
  background-color: var(--color-neutral-gray);
  letter-spacing: var(--letter-spacing);
  text-align: center;
  line-height: var(--line-height);
}

h1 {
  font-weight: var(--heading-1);
  font-size: var(--heading-1);
  margin: 16px 0;
}

h2 {
  font-size: var(--heading-2);
  font-family: var(--secondary-font);
  margin: 8px 0;
}

.avatar-icon-mobile {
  display: none;
}

a {
  text-decoration: none;
}

.dashboard-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 32px auto;
  max-width: 700px;
  row-gap: 32px;
}

.dashboard-icon {
  width: 96px;
  object-fit: contain;
}

@media (max-width: 424px) {
  h2 {
    margin: 8px 0;
  }

  .avatar-icon-desktop {
    display: none;
  }

  .avatar-icon-mobile {
    display: block;
  }

  .dashboard-actions {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }

  .dashboard-icon {
    width: 50px;
  }
}
