html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  margin-bottom: 25px;
  border: var(--color-neutral-medium-gray);
  border-style: inset;
  border-width: 0.5px;

  position: sticky;
  top: 0;
  z-index: 9;
  background: var(--color-neutral-gray);
}

.UserLogo {
  width: 64px;
  height: 64px;

  img {
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
}

/* /header */

/* footer */

footer {
  display: flex;
  flex-direction: row;
  height: 250px;
  justify-content: center;
}

footer img {
  height: 250px;
  min-width: 350px;
  object-fit: contain;
  display: block;
}

.footer-img-mobile {
  display: none;
}

@media (max-width: 424px) {
  footer img {
    width: 100%;
    min-width: 1px;
    margin-left: 1.5em;
  }

  .footer-img-mobile {
    display: block;
  }

  .footer-img-desktop {
    display: none;
  }
}
