* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  color: #333333;
}

body {
  background-color: #f5f5f5;
}

.text-center {
  text-align: center;
}

main {
  margin-top: 16px;
}

h1,
h3 {
  letter-spacing: 0.5px;
}

h1 {
  font-size: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  margin-bottom: 16px;
}

p {
  margin-bottom: 24px;
}

.menu-item p {
  font-weight: 600;
  font-size: 14px;
}

.student-initials,
.student-initials-mobile {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.student-initials {
  display: none;
}

.icon-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.icon-navigation img {
  max-width: 65px;
}

@media (min-width: 600px) {
  .icon-navigation {
    flex-direction: row;
    gap: 40px;
  }

  .icon-navigation img {
    max-width: 120px;
  }

  .menu-item {
    padding: 24px;
  }

  main {
    margin-top: 40px;
  }

  .student-initials {
    display: flex;
  }

  .student-initials-mobile {
    display: none;
  }
}
