@import url("css/variables.css");
@import url("css/global.css");
@import url("css/header.css");

.hero {
  background-image: url("/public/img/heroimage-edugate.png");
  background-size: auto 100%;
  background-position: center top;
  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  margin-top: 3rem;
}

.hero-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.hero-title {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.hero-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  max-width: 75%;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.hero-cta {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  min-width: 130px;
  padding: 0.5rem 0;
  border-radius: 0.375rem;

  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-primary {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #4caf50;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid #2196f3;
  color: #2196f3;
}
.btn-primary:hover {
  background-color: #388e3c;
  border-color: #388e3c;
}

.btn-secondary:hover {
  background-color: #bbdefb;
  color: #2196f3;
  border-color: #2196f3;
}

/* SM */
@media (min-width: 768px) {
}

/* MD */

@media (min-width: 768px) {
  .hero {
    height: 40vh;
    background-size: cover;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .hero-overlay {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
  }

  .hero-title {
    font-size: 1.8rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    max-width: 100%;
    margin-top: -1.5rem;
  }

  .hero-cta {
    position: absolute;
    top: 42vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .hero-buttons {
    flex-direction: row;
    gap: 1rem;
  }

  .hero-buttons .btn {
    min-width: 140px;
    padding: 8px 18px;
  }
}

/* LG */

@media (min-width: 1024px) {
  #footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero {
    height: 70vh;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .hero-cta {
    position: absolute;
    top: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
  }

  .hero-overlay {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    gap: -0.5rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
    max-width: 1000px;
    margin-top: 0rem;
    font-weight: 500;
  }

  .hero-buttons {
    flex-direction: row;
    gap: 1.5rem;
    padding: 10px 20px;
    min-width: 133px;
    border-radius: 6px;
    font-size: 1rem;
  }

  .hero-buttons .btn {
    min-width: 160px;
    padding: 1rem 1.5rem;
    gap: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }
}
